/* border styles for grid */
div[class^="col"] {
    min-height: 50px;
    border: 1px solid black;
}

.row{
    border: 1px dashed red;
}

i {
    font-size: 2rem;
}
h1{
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;}

  
  